#Header {
    background-color: #4ba0b3;
    height: 7vw;
    position: absolute;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
    font-family: Verdana, Arial, helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #e1e1e1;

}

#Header-logo {
    position: relative;
    margin-left: 39%;
    margin-right: 39%;
    margin-top: 2%;
}

#logo {
    text-align: center;
    font-size: 2vw;
}

#info {
    font-size: 1.4vw;
}

#Header-info {
    position: relative;
    margin-top: -3%;
    margin-left: 25%;
    margin-right: 70%;
}


#elev {
    font-size: 1.4vw;
}

#Header-elev {
    position: relative;
    margin-top: -3%;
    margin-left: 71.3%;
    margin-right: 25%;
}

#kontakt-bar {
    position: fixed;
    width: 11%;
    height: 25vw;
    background-color: #4ba0b3;
    margin-top: 15%;
    margin-left: 89%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
    font-family: sans-serif, "Courier New", courier, monospace;
    font-weight: bold;
}

#bar-kontakt {
    position: relative;
    color: #e1e1e1;
    margin-left: 4%;
}

#kontakt {
    text-align: center;
    font-size: 1.3vw;
}


#bar-reception {
    position: relative;
    color: #e1e1e1;
    margin-left: 4%;

}

#reception {
    text-align: center;
    font-size: 0.9vw;
}

#bar-rektor {
    position: relative;
    color: #e1e1e1;
    margin-left: 4%;

}

#rektor {
    text-align: center;
    font-size: 0.9vw;
}
#bar-rektor2 {
    position: relative;
    color: #e1e1e1;
    margin-left: 4%;

}

#rektor2 {
    text-align: center;
    font-size: 0.9vw;
}
#bar-sjuksyster {
    position: relative;
    color: #e1e1e1;
    margin-left: 4%;
}


#sjuksyster {
    text-align: center;
    font-size: 0.9vw;
}
#bar-kommun {
    position: relative;
    color: #e1e1e1;
    margin-left: 4%;
}


#kommun {
    text-align: center;
    font-size: 0.9vw;
}


#bilder-index {
    margin-top: 10%;
    position: absolute;
    margin-left: 5%;
    margin-bottom: 30px;

}

#elevtest {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
    font-family: sans-serif, "Courier New", courier, monospace;
    font-weight: bold;
    color: #4ba0b3;
}

#testa-bokning {
    position: absolute;
        font-family: sans-serif, "Courier New", courier, monospace;
    font-weight: bold;
    margin-top: 21%;
    font-size: 1.1vw;
    font-style: italic;
    margin-left: 17%;
    color: #4ba0b3;
}

#testa-elev {
    position: absolute;
    margin-top: 18%;
    font-size: 1.2vw;
    margin-left: 49.5%;
}

#testa-elev-lorem {
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
    font-size: 1vw;
    margin-right: 20%;
    text-align: center;
}

#testa-elev-bokning {
    position: absolute;
    margin-top: 34%;
    margin-left: 62%;
    color: #4ba0b3;
    font-size: 1.2vw;
    text-decoration: underline;
}

.bilder img{
  margin-right:2.2%;
  margin-top:1%;
  width:12.3%;
  float:left;

}
#tid-box {
        background: transparent;
        width: 83%%;
        font-size: 1.3vw;
        line-height: 1;
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        color: #000;
        height: 100%;
        font-family: sans-serif, "Courier New", courier, monospace;
        padding-left: 17%;
}



#boka-bord-container1 {
    width: 10%;
    height: 6%;
    background-color: #e1e1e1;
    position: absolute;
    margin-top: 24%;
    margin-left: 22%;
    border: 1px solid;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.);
}



#Namn-box {
    background: transparent;
    width: 77%;
    font-size: 1.3vw;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    color: #000;
    height: 100%;
    font-family: sans-serif, "Courier New", courier, monospace;
    padding-left: 23%;

}

#boka-bord-container2 {
    width: 10%;
    height: 6%;
    background-color: #e1e1e1;
    position: absolute;
    margin-top: 24%;
    margin-left: 68%;
    border: 1px solid;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.);
}
#boka-bord-submit {
        background: transparent;
        width: 100%;
        font-size: 1.3vw;
        line-height: 1;
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        color: #4ba0b3;
        height: 100%;
        text-decoration: underline ;
    font-family: sans-serif, "Courier New", courier, monospace;
    font-weight: bold;
}

#boka-bord-container3 {
    position: absolute;
    margin-top: 28%;
    margin-left: 47.5%;
}

#calendar {
    width: 10%;
    height: 6%;
    background-color: #e1e1e1;
    position: absolute;
    margin-top: 24%;
    margin-left: 45%;
    border: 1px solid;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.);
}

#datepicker {
    background: transparent;
    width: 96%;
    font-size: 1.3vw;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    color: #000;
    height: 100%;
    font-family: sans-serif, "Courier New", courier, monospace;
    padding-left: 4%;
}

#bokning-info {
    position: absolute;
    margin-top: 25%;
    margin-left: 37%;
    font-family: sans-serif, "Courier New", courier, monospace;
    text-decoration: underline;
    font-style: italic;
    color: #4ba0b3;

}


#bokning-text1 {
    position: absolute;
    margin-top: 17%;
    margin-left: 25%;
    font-family: sans-serif, "Courier New", courier, monospace;
    font-size: 2vw;
    color: #4ba0b3;
}

a {
    text-decoration: none;
    color: rgb(225, 225, 225);
}


a:hover, #testa-elev-bokning:hover, #boka-bord-submit:hover, #bokning-info:hover {
    color: black;
}


